<!DOCTYPE html>
<html>
<head
    <meta charset = "utf-8">
    <title>Thread Activity</title>
    <link rel ="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body class="container">
    <h1>
        THREAD ACTIVITY
        <a href="/createThread" class="btn btn-primary pull-right">
            ADD
          </a>
    </h1>
</body>
</html>